.large{
    width:800px;
    height:500px;
    top:90px;
    position: relative;

}

.mail{
    position: relative;
    left:70px;
}

.week1{
    width:1000px;
    height:50px;
    top:0px;
    position: relative;
    background-color: rgba(164, 165, 167, 0.418);
    border-left: 6px solid orange;

}

.weekT1{
    top:8px;
    position: relative;
    left:60px;

}

.inside{
    width:1000px;
    height:200px;
    top:50px;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    border:2.5px solid rgb(151, 151, 151);

}

.week2{
    width:1000px;
    height:50px;
    top:300px;
    position: relative;
    background-color: rgba(164, 165, 167, 0.418);
    border-left: 6px solid orange;

}

.weekT2{
    top:8px;
    position: relative;
    left:60px;

}

.week3{
    width:1000px;
    height:50px;
    top:600px;
    position: relative;
    background-color: rgba(164, 165, 167, 0.418);
    border-left: 6px solid orange;

}

.weekT3{
    top:8px;
    position: relative;
    left:60px;

}

.week4{
    width:1000px;
    height:50px;
    top:900px;
    position: relative;
    background-color: rgba(164, 165, 167, 0.418);
    border-left: 6px solid orange;

}

.weekT4{
    top:8px;
    position: relative;
    left:60px;

}

.link{
    position: relative;
    left:20px;
    top:35px;
}

.mid{
    position: relative;
    left:80px;
    top:5px;
    font-size: 18.5;
}

.para{
    font-size: 18;
    position: relative;
    left:120px;
    top:15px;

}

.linkModule{
    text-decoration: none;
    color: black;
}

.week1Btn{
    margin-top: 0px;
    font-size: 16px;
    padding: 6px 15px 6px 15px;
    margin-left: 750px;
    background-color: orange;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    text-decoration: none;
}

.week1Btn:hover{
    transform: scale(1.1);
    color: black;
    text-decoration: none;
}




