.white-card{
    padding-left: 10%;
    padding-top: 10%;
}

.profile_img11 img {
    vertical-align: middle;
    border-style: none;
    position: relative;
    width: 280px;
    height: 320px;
    transition: all .15s ease;
    transform: translate(0%, 0%);
}

.profile_img11 img:hover {
    transform: translate(0%, -3%);
}

.profile_div{
    width:1300px;
    height: 400px;
    background-color: none;
    border: 5px solid #02254b;
    border-radius: 10px;
    box-shadow:10px 24px 48px 0 rgba(0,0,0,0.1);
}

.middle_div{
    padding-left: 30%;
}

.profile_text {
    font-weight: 800;
    font-size: 35px;
    margin-left: 42%;
}

.middle_div1{
    position: absolute;
    left: 36%;
    background-image: linear-gradient(#ffa500, #ffa500, #ffa500, rgb(255, 165, 0));
font-weight:800;
    text-decoration: none;
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 20px;
}

.middle_div2{
    position: absolute;
    left: 66%;
    background-image: linear-gradient(#ffa500, #ffa500, #ffa500, rgb(255, 165, 0));
    font-weight:800;
    text-decoration: none;
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 20px;
}