.detailProductCard12 {
    width: 90%;
    height: 500px;
    padding: 30px;
    text-align: left;
    background: rgb(255, 255, 255);
    box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.4);
    margin-top: 80px;
    margin-left: 225px;
    border-left: 10px solid orange;
  }
  
  .detailProduct {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  @media (min-width: 600px) {
    .productGridR {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 800px) {
    .productGridR {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  .details1 {
    font-size: 22px;
    margin-left: 20px;
    margin-top: 75px;
    font-weight: 600;
  }
  
  .detailsdis1 {
    font-size: 18.5px;
    font-weight: 500;
    margin-left: 50px;
  }
  
  .row8 {
    margin-top: -50px;
  }
  
  .dBtn1 {
    position: absolute;
    left: 820px;
    top: -300px;
  }
  