.container5 {
  width: 80%;
  height: 100vh;
  padding-top: 20px;
  margin-left: 200px;
}

.textMarks {
  font-size: 25px;
  margin-left: 680px;
  font-weight: 600;
  padding-bottom: 30px;
  margin-top: 100px;
}

.tableRow:hover {
  background-color: #c7c7c794;
  cursor: pointer;
}

.tableRow {
  padding: 1px;
  text-align: left;
  background-color: #fff;
}

.tableData {
  padding-left: 20px;
  text-align: left;
  font-size: 18.5px;
  font-weight: 600;
  display: table-cell;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
td,
th {
  border-bottom: 1px solid rgb(128, 128, 128);
}
