nav {
  text-transform: uppercase;
}

header{
  margin-bottom: 100px;
  color:white;
}

.header-title{
  letter-spacing: 3px;
}

.header-bg{
  background-color: #02254b;
  backdrop-filter: blur(20px);
}