.addvid {
  width: 90%;
  text-align: left;
  padding: 40px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-left: 10px solid orange;
  margin-left: 90px;
  margin-top: 20px;
}

.label10 {
  font-size: 18.5px;
  font-weight: 500;
  position: relative;
  top: 2px;
  left: 40px;
}

.form-group13 {
  position: relative;
  left: 210px;
  top: -27px;
}

.previewImgsub2 {
  position: absolute;
  border-radius: 15px;
  background-size: cover;
  height: 250px;
  width: 380px;
  background-image: url("upload.gif");
  left: 1025px;
  top: 10px;
}

.form-group14 {
  position: relative;
  left: 560px;
  top: 280px;
}

.label12 {
  font-size: 25px;
  font-weight: 700;
  position: relative;
  top: -30px;
  left: 15px;
}

.form-group15 {
  position: relative;
  left: 370px;
}

.uploadBtn2 {
  left: 0px;
}
